.fa-check {
	color : darkgreen;
}
.fa-times {
	color : red;
}
.centered {
	text-align: center;
}
.right {
	text-align: right;
}
.radio label, .checkbox label {
	width: 75px;
	display: inline-block;
}
.acl-wrapper {
	padding: 8px;
	padding-top: 0px;
}
.acl-label {
	padding-left: 8px;
}
@media (min-width: 768px) {
	.form-inline .form-group {
		max-width: 25%;
		vertical-align: top;
	}
}
.muted {
	font-size: 0.8em;
	color: #b2b2b2;
}

.nav-tabs {
	margin-top: 16px;
}

.tab-content {
	margin-top: 18px;
	border: 1px solid #d2d2d2;
	padding-bottom: 18px;
}

.tab-content button {
	margin-left: 18px;
}

.ace_editor {
	border-bottom: 1px solid #d2d2d2;
}