RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteRule /?\.htaccess$ - [F,L]
RewriteRule /?\config.php$ - [F,L]
RewriteRule /?\config.php.default$ - [F,L]
RewriteRule ^/?db/database.sqlite3$ - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
