<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>API Gateway</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.css">
</head>
<style>
	.fa-check {
		color : darkgreen;
	}
	.fa-times {
		color : red;
	}
	.centered {
		text-align: center;
	}
	.radio label, .checkbox label {
		width: 75px;
		display: inline-block;
	}
</style>
<body>
	<br>
	<br>
	<div class="container">
		<h3>
			Packages
			<a href="logout" class="btn btn-danger pull-right">Logout</a>
		</h3>
		<hr>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th width="10%" class="centered">Enabled</th>
					<th width="10%" class="centered">List</th>
					<th width="10%" class="centered">Insert</th>
					<th width="10%" class="centered">Update</th>
					<th width="10%" class="centered">Remove</th>
					<th width="15%" class="centered">Action</th>
				</tr>
			</thead>
			<tbody id="tbody">
				<tr>
					<td class="centered" colspan="7">No Packages. Add some below.</td>
				</tr>
			</tbody>
		</table>
		<br>
		<h3>Manage Package</h3>
		<hr>
		<form class="form-inline" id="form" role="form" method="post">
			<div class="form-group">
				<label class="sr-only" for="name">Package Name</label>
				<input type="text" class="form-control" id="name" name="name" required placeholder="Enter Package Name">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="enabled" checked="checked" name="enabled"> Enabled
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="list" checked="checked" name="list"> List
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="insert" checked="checked" name="insert"> Insert
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="update" checked="checked" name="update"> Update
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="remove" checked="checked" name="remove"> Remove
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>

	</div>
	<template id="tbodyTemplate">
		{{#each data}}
			<tr>
				<td>{{name}}</td>
				<td class="centered">
					{{#trueFalse enabled}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse list}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse insert}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse update}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse remove}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					<button class="btn btn-primary edit" data-id="{{id}}">
						<i class="fa fa-edit"></i>
					</button>
					<button class="btn btn-danger delete" data-id="{{id}}">
						<i class="fa fa-trash-o"></i>
					</button>
				</td>
			</tr>
		{{else}}
			<tr>
				<td class="centered" colspan="7">No Packages. Add some below.</td>
			</tr>
		{{/each}}
	</template>
	<script src="js/lib/jquery.js"></script>
	<script src="js/lib/handlebars.js"></script>
	<script src="js/lib/lodash.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/manage.js"></script>
</body>
</html>