<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>API Gateway</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/manage.css">
</head>
<body>
	<br>
	<br>
	<div class="container">
		<h3>
			Packages
			<a href="logout" class="btn btn-danger pull-right">Logout</a>
		</h3>
		<hr>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th width="10%" class="centered">Rate</th>
					<th width="10%" class="centered">Enabled</th>
					<th width="10%" class="centered">List</th>
					<th width="10%" class="centered">Insert</th>
					<th width="10%" class="centered">Update</th>
					<th width="10%" class="centered">Remove</th>
					<th width="15%" class="centered">Action</th>
				</tr>
			</thead>
			<tbody id="tbody">
				<tr>
					<td class="centered" colspan="8">No Packages. Add some below.</td>
				</tr>
			</tbody>
		</table>
		<br>
		<h3>Manage Package</h3>
		<hr>
		<form class="form-inline" id="packageForm" role="form" method="post">
			<div class="form-group">
				<label for="name">Package Name</label>
				<input type="text" class="form-control" id="name" name="name" required placeholder="Enter Package Name">
			</div>
			<div class="form-group">
				<label for="api">API Key <a class="fa fa-refresh" id="genApiKey"></a></label>
				<input type="text" class="form-control" id="api" name="api" placeholder="Enter A Random API Key (Alphanumeric)">
			</div>
			<div class="form-group">
				<label for="rate">Rate Limit (Req/User/Hour)</label>
				<input type="number" class="form-control" id="rate" name="rate" placeholder="Rate Limit" value="120">
			</div>
			<div class="form-group">
				<label class="acl-label" for="">Acess Control List</label>
				<div class="acl-wrapper">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="enabled" checked="checked" name="enabled"> Enabled
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="list" checked="checked" name="list"> List
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="insert" checked="checked" name="insert"> Insert
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="update" checked="checked" name="update"> Update
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="remove" checked="checked" name="remove"> Remove
						</label>
					</div>
				</div>
			</div>
			<div class="resources">
				<label for="hooks">Hooks</label>
				<div id="hooks" title="Hooks"></div>
				<br>
				<button type="button" id="genHooks" class="btn btn-primary">Generate Hooks</button>
			</div>
			<hr>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="reset" id="resetForm" class="btn btn-secondary">Reset</button>
			</div>
		</form>

	</div>
	<template id="tbodyTemplate">
		{{#each data}}
			<tr>
				<td>{{name}}<br /><span class="muted">{{api}}</span></td>
				<td class="right">{{rate}}</td>
				<td class="centered">
					{{#trueFalse enabled}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse list}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse insert}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse update}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					{{#trueFalse remove}}
						<i class="fa fa-check"></i>
					{{else}}
						<i class="fa fa-times"></i>
					{{/trueFalse}}
				</td>
				<td class="centered">
					<button class="btn btn-primary edit" data-id="{{id}}">
						<i class="fa fa-edit"></i>
					</button>
					<button class="btn btn-danger delete" data-id="{{id}}">
						<i class="fa fa-trash-o"></i>
					</button>
				</td>
			</tr>
		{{else}}
			<tr>
				<td class="centered" colspan="8">No Packages. Add some below.</td>
			</tr>
		{{/each}}
	</template>
	<script src="js/lib/ace/ace.js"></script>
	<script src="js/lib/jquery.js"></script>
	<script src="js/lib/handlebars.js"></script>
	<script src="js/lib/lodash.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/manage.js"></script>
</body>
</html>